{% extends 'base/base.html' %}

{% block content %}
  {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li>
          {# use the url template tag to remove reliance on specific URL paths #}
          {# and namespace your URLs by prefixing with `app_name:url-name` #}
          <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock %}
